@font-face {
    font-family: "Anton";
    src: url("Anton-Regular.ttf"); /* Ruta al archivo de fuente */
}

.label {
    -fx-font-family: "Anton";
    -fx-font-size: 50px;
    -fx-text-fill: #FFA715;
}
.label2{
    -fx-font-family: "Anton";
    -fx-font-size: 80px;
    -fx-text-fill: #FFA715;
}

#playBT:hover, #exitBT:hover {
    -fx-text-fill: #FFFFFF;
}
